body {
	width:100%;
}

/*
------------------------------------------
Navigation Styles
------------------------------------------
*/

/* Show Mobile Navigation / Hide Main Nav */
nav {
	display: none;
}
.meny {
	display: block;
}

/*
------------------------------------------
Footer Styles
------------------------------------------
*/
footer{
	text-align: center;
}
/*
------------------------------------------
Parallax Styles
------------------------------------------
*/
header #container {
	margin-left:0;
	width: 117%;
}

.scene {
	width:125%;
}

.layer:nth-child(2) {
  opacity: 1;
  margin-top:30px;
  margin-left:50px;
  z-index: 5555;
}

.layer:nth-child(3) {
  opacity: 1;
}

.layer:nth-child(4) {
  opacity: 1;
}

/*
------------------------------------------
Artist Home Section Styles
------------------------------------------
*/

.artists {
	margin-top:-180px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.apTxt {
	font-size: 15pt;
	line-height: 15px;
	margin-left:5px;
	margin-top: 320px;

}
.apTxtSm {
	font-size: 12pt;
}

#bandlist {
	line-height: 1em;
	margin-top:0px;
}

#bandlist li a {
	width:110px;
	display: block;
}

a.band1 {
	background:url('../images/nightbeatstxtmin.png');
	height: 14px;
}

a.band1:hover {
	background:url('../images/nightbeatstxtbluemin.png');
}

a.band2 {
	background:url('../images/wampiretxtmin.png');
	height:17px;
}

a.band2:hover {
	background:url('../images/wampiretxtbluemin.png');
}

a.band3 {
	background:url('../images/blackpistolfiretxtmin.png');
	height:14px;
}

a.band3:hover {
	background:url('../images/blackpistolfiretxtbluemin.png');
}

a.band4 {
	background:url('../images/burninmoonlighttxtmin.png');
	height:12px;
}

a.band4:hover {
	background:url('../images/burninmoonlighttxtbluemin.png');
}

a.band5 {
	background:url('../images/goldfoottxtmin.png');
	height:14px;
}

a.band5:hover {
	background:url('../images/goldfoottxtbluemin.png');
}

a.band6 {
	background:url('../images/mindthegaptxtmin.png');
	height:14px;
}

a.band6:hover {
	background:url('../images/mindthegaptxtbluemin.png');
}

a.band7 {
	background:url('../images/greengarterbandtxtmin.png');
	height:12px;
}

a.band7:hover {
	background:url('../images/greengarterbandtxtbluemin.png');
}

a.band8 {
	background:url('../images/divisitxtmin.png');
	height:17px;
}

a.band8:hover {
	background:url('../images/divisitxtbluemin.png');
}

a.band9 {
	background:url('../images/hungryskinnytxtmin.png');
	height:12px;
}

a.band9:hover {
	background:url('../images/hungryskinnytxtbluemin.png');
}

a.band10 {
	background:url('../images/skycountrytxtmin.png');
	height:13px;
}

a.band10:hover {
	background:url('../images/skycountrytxtbluemin.png');
}
a.band11 {
	background:url('../images/ontherockstxtmin.png');
	height:14px;
}

a.band11:hover {
	background:url('../images/ontherockstxtbluemin.png');
}

a.band12 {
	background:url('../images/mozzokushtxtmin.png');
	height:14px;
}

a.band12:hover {
	background:url('../images/mozzokushtxtbluemin.png');
}

/* band profile block */
.profiles {
	height:20%;
	width:50%;
	margin-top:325px;
	font-size: 8pt;
	overflow: scroll;
}

.profiles div img {
	display:none;
}

.profiles div h2 {
  margin-left: 15px;
}

.profiles div p {
	width:90%;
	font-size: 8pt;
  margin-left: 15px;
  margin-right:15px;
  overflow: scroll;
}

/*
------------------------------------------
Social Media Section Styles
------------------------------------------
*/
section.social {
	margin-top:-310px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border-top:8px solid white;
	height:250px;
}

.leftSection {
  display: none;
}


.smTxtSm {
	font-size: 18pt;
	width:180px;
	line-height: 30px;
	float:left;
	margin-left:-20px;
}

.wider {
	font-size: 20pt;
}

.smTxtMin {
	font-size: 6pt;
}

.rightSection {
  width: 100%;
}

.twitter {
	height: 120px;
}

.twitter img {
	width:50px;
}

.instagram {
	height: 120px;
}

.instagram img {
	width:50px;
}

.facebook {
	height: 122px;
}

.facebook img {
	margin-top: 35px;
	width:50px;
}

/*
---------------------------------------------
Social Media Pop Up Boxes
---------------------------------------------
*/
.popboxSM {
    width: 38%;
    height:92%;
}

.socialMediaFeeds .popboxSM{
	width:38%;
	overflow: scroll;
}

/*
------------------------------------------
About Home Section Styles
------------------------------------------
*/
section.about {
	background: url('../images/Singer.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top:-193px;
}

.aTxt {
	font-size: 20pt;
	width:200px;
	margin:50px 0;
	line-height: 25px;
}

.aTxtMin {
	font-size: 8pt;
}

.pressRelease {
	margin-top: 25px;
	overflow: scroll;
	height:25%;
	width:75%;
}

.pressRelease h3 {
	margin-left:10px;
}

.pressRelease h4 {
	margin-left:10px;
	font-size:9pt;
}

.pressRelease h6 {
	display: none;
}

.pressRelease p {
	font-size: 8pt;
	margin-left:10px;
	margin-right:10px;
}

.pressRelease ul {
	font-size: 8pt;
	margin-left:10px;
}

/*
---------------------------------------------
Activities Section
---------------------------------------------
*/

section.activities {
	background: url('../images/skateboards.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 216px;
	margin-top: -215px;
	clear: both;
	float: left;
	border-top: 8px solid white;
	overflow: scroll;
}

.activitiesTxt {
	font-size: 18pt;
	width:120px;
	margin:5px;
	line-height: 20px;
	margin-top:25px;
}

.activitiesTxtSm {
	font-size: 12pt;
}

span.aTxtMin {
	font-size: 6pt;
}


/* activities events block */
.events {
	font-size: 10pt;
	width: 55%;
	height: 70%;
	overflow: scroll;
	margin-top:15px;
}

.event {
	width:35%;
	height:38%;
}

.event h3 {
	font-size: 7pt;
}

.event1, .event2, .event3, .event4, .event5, .event6, .event7  {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, .3);
}

.event1:hover, .event2:hover, .event3:hover, .event4:hover, .event5:hover, .event6:hover, .event7:hover  {
	background-color:#999;
}

.event1 {
	background-image:url('../images/.png');
}

.event2 {
	background-image:url('../images/craftcenterimg.png');

}

.event3 {
	background-image:url('../images/EthosImg.png');

}

.event4 {
	background-image:url('../images/salsalibreimg.png');

}

.event5 {
	background-image:url('../images/ThinkPlayImg.png');

}

.event6 {
	background-image:url('../images/WACAI.png');

}

.event7 {
	background-image:url('../images/zanyZooImg.png');
}

/*
---------------------------------------------
Pop Up Boxes
---------------------------------------------
*/
.popbox h2
{
    font-size: 12px;
}

.popbox p
{
    text-transform: none;
    font-size: .7em;
}

.eventPop {
	height:auto;
}

/*
---------------------------------------------
Video Section
---------------------------------------------
*/

section.video {
	background: url('../images/djImg.png');
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	margin-top: 16px;
}

/* video block */
.vid {
	width:320px;
	height:200px;
}

.vid iframe {
	border:4px solid white;
	border-radius: 20px;
}

.m {
	display: block;
}

.mw {
	display:none;
}

.f {
	display: none;
}

/*
------------------------------------------
Footer Styles
------------------------------------------
*/

footer{
	text-align: center;
}

.footerLinks {
	width:480px;
}

.footerIcons {
	width:320px;
}

.footerIcons img {
	margin:5px;
}

.mhide {
	display: none;
}

/*
---------------------------------------------
Directions Section
---------------------------------------------
*/

section.directions {
	background: #000;
	position: relative;
	z-index: 5000;
	margin: 0 0 0 -10px;
	margin-bottom: 8px solid white;
	background-size: cover;
	width: 100.4%;
}
