body {
	width:100%;
}

/*
------------------------------------------
Navigation Styles
------------------------------------------
*/

/* Show Mobile Navigation / Hide Main Nav */
nav {
	display: none;
}
.meny {
	display: block;
}

/*
------------------------------------------
Footer Styles
------------------------------------------
*/
footer{
	text-align: center;
}
/*
------------------------------------------
Parallax Styles
------------------------------------------
*/
header #container {
	margin-left:0;
	width: 117%;
}

.scene {
	width:125%;
}

.layer:nth-child(2) {
  opacity: 1;
  margin-top:30px;
  margin-left:50px;
  z-index: 5555;
}

.layer:nth-child(3) {
  opacity: 1;
}

.layer:nth-child(4) {
  opacity: 1;
}
/*
------------------------------------------
Artist Home Section Styles
------------------------------------------
*/

.artists {
	width:100%;
	margin-top:-180px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.apTxt {
	font-size: 20pt;
}


/* band profile block */
.profiles {

}


