/*
------------------------------------------------
 Body Styles
------------------------------------------------
*/
body {
	background-image:url(images/extended-sky-small.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

nav {
	width:100%;
	height:50px;
	background-color: #000;
	margin:-50px 0px 0 -10px;
	padding-right:20px;
	text-align: center;
	color:white;
	position: fixed;
	font-family: sans-serif;
}


/*
------------------------------------------------
Header Styles
------------------------------------------------
*/

header {
	background-image:url(images/wvmf-logo-450x450.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width:450px;
	height:450px;
	margin-left: auto;
	margin-right:auto;
}

	@media(max-width: 450px) {
		header {
			max-width: 100%;
			max-height: 100%;
		}
	}

	@media(min-width: 451px) {
		header {
			max-width:451px;
			max-height:451px;
		}
	}

	/*
	------------------------------------------------
	Header Text Styles
	------------------------------------------------
	*/
	.headTxt {
		font-size:60pt;
		max-width:1000px;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		text-transform: uppercase;
		color:white;
		margin-top:50px;
		font-family: sans-serif;
	}

	.headTxt span.smallHeadTxt {
		font-size:25pt;
		font-family: sans-serif;
	}


/*
------------------------------------------------
Main Page Text Styles
------------------------------------------------
*/
.largeTxt {
	color:white;
	font-size: 70pt;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
}

.medTxt {
	color:white;
	font-size: 28pt;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
	margin-top:-10px;
	font-family: sans-serif;
}

.smallTxt {
	color:white;
	font-size: 18pt;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
}

/*
------------------------------------------------
Bands Styles
------------------------------------------------
*/
.bandsFeaturing {
	text-transform: uppercase;
	font-size: 12pt;
	color: white;
	float:left;
	max-width:100px;
	margin-top:20px;
	padding:0 15px 0 25px;
	font-family: sans-serif;
}

.bandName1 {
	color:white;
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	clear:left;
	font-family: sans-serif;
	margin-top:5px;
	width:33%;
}

.bandName2 {
	color:white;
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	font-family: sans-serif;
	margin-top:5px;
	width:33%;
	text-align: center;
}

.bandName3 {
	color:white;
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	font-family: sans-serif;
	margin-top:5px;
	width:33%;
	text-align: right;
}


/*
------------------------------------------------
Horzontal Line Styles
------------------------------------------------
*/
.horizLineFull { 
	background-image:url(images/horizontal_line.jpg);
	background-repeat: repeat-x;
	height: 1px;
	width:1040px;
	margin-top:30px;
	float:left;
}

.horizLineHalf1 { 
	background-image:url(images/horizontal_line.jpg);
	background-repeat: repeat-x;
	height: 1px;
	width:350px;
	margin-top:30px;
	float:left;
}
.horizLineHalf2 {
	background-image:url(images/horizontal_line.jpg);
	background-repeat: repeat-x;
	height: 1px;
	width:350px;
	margin-top:30px;
	float:left;
}		
	/*
	------------------------------------------------
	Horzontal Line Styles (Larger than 450px)
	------------------------------------------------
	*/
	@media(min-width: 451px) {
		.horizLineFull {
			background-image:url(images/horizontal_line.jpg);
			background-repeat: repeat-x;
			height: 1px;
			width:1040px;
			margin-top:10px;
			float:left;
		}
		.horizLineHalf1 { 
			background-image:url(images/horizontal_line.jpg);
			background-repeat: repeat-x;
			height: 1px;
			width:350px;
			margin-top:30px;
			float:left;
		}
		.horizLineHalf2 {
			background-image:url(images/horizontal_line.jpg);
			background-repeat: repeat-x;
			height: 1px;
			width:350px;
			margin-top:30px;
			float:left;
		}
	}
	/*
	------------------------------------------------
	Horzontal Line Styles (Max 450px)
	------------------------------------------------
	*/
	@media(max-width: 450px) {
		.horizLineFull {
			height: 1px;
			width: auto;
			float:left;
		}
		.horizLineHalf1 { 
			height: 1px;
			width: auto;
			float:left;
		}
		.horizLineHalf2 {
			height: 1px;
			width: auto;
			float:left;
		}
	}


/*
------------------------------------------------
Event Listing Styles
------------------------------------------------
*/

.events1 {
	color:white;
	clear:left;
	float:left;
	margin-top: 10px;
	width:25%;
	font-size: 15pt;
	font-family: sans-serif;
	text-transform: uppercase;
}

.events2 {
	color:white;
	display: block;
	float:left;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.events3 {
	color:white;
	float:left;
	display: block;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
}

.events4 {
	color:white;
	float:left;
	display: block;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align:right;
}

/*
------------------------------------------------
Coming Soon Styles
------------------------------------------------
*/
.comingSoon {
	color:white;
	float: left;
	font-size: 20pt;
	font-family: sans-serif;
	font-style: italic;
	margin:30px auto 30px 310px;
	width: 800px;
}

.comingSoon span.cs {}

/*
-----------------------------------------------
ID's
-----------------------------------------------
*/
#wrapper {
	max-width:1040px;
	margin-left: auto;
	margin-right: auto;
}
