/*
------------------------------------------------
 Body Styles
------------------------------------------------
*/
body {
	background-image:url(images/extended-sky-small.jpg);
	background-color:#000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "din-condensed-web", sans-serif;
	max-width:100%;
	max-height: 100%;
	margin:0;
}
/*
--------------------------------------------------------
Navigation Styles
--------------------------------------------------------
*/

nav {
	width:100%;
	background-color:#362d58;
	height: 70px;
	position:fixed;
	margin-top:-80px;
	box-shadow: 4px 4px 4px 1px #793e8a;
	color:#ccc;
	font-weight: bold;
	z-index: 9999;
}

nav a {
	color:#ccc;
	text-decoration: none;
}

nav ul {
 	list-style: none;
}

nav ul li {
	border-right:1px solid #fff;
	width:184px;
	display: inline-block;
	margin:-15px 0 0 -6px;
	height: 45px;
	text-align: center;
	padding-top: 25px;
}

nav ul li:first-child {
	margin-left:-40px;
}

nav ul li:hover {
	background-color: #39586f;
	box-shadow: 0px 4px 4px #4375b3;
}

nav ul li.active {
	color:#fff;
	background-color:#39586f;
	box-shadow: 0 4px 4px #4375b3;
	
}

nav ul li.active a {
	color:#fff;
}

nav ul li a{
	margin:0 -25px;
	padding:25px 40px 25px 40px;
	font-size: 15pt;
}

nav ul li a:hover {
	color:#fff;
}

nav ul li:last-child {
	border-right:none;
}

/*
------------------------------------------------
Header Styles
------------------------------------------------
*/

header {
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

header img {
	width: 400px;
}

	@media(max-width: 400px) {
		header img{
			max-width: 100%;
		}
	}


	/*
	------------------------------------------------
	Header Text Styles
	------------------------------------------------
	*/
	.headTxt {
		font-size:60pt;
		max-width:1000px;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		text-transform: uppercase;
		color:white;
		margin-top:80px;
	}

	.headTxt span.smallHeadTxt {
		font-size:25pt;
	}

	@media(max-width:518px) {
		.headTxt {
			font-size: 40pt;
		}
	}

	@media(max-width:350px) {
		.headTxt {
			font-size: 30pt;
		}
	}

/*
------------------------------------------------
Footer
------------------------------------------------
*/
footer {
	clear:both;
	width:100%;
	height: 220px;
	text-align: center;
	color:white;
	font-size: .7em;
	font-style: italic;
	background-color: #505050;
	box-shadow-top:4px 4px 4px #ffffff;
}

footer a {
	color:#999;
	text-decoration: none;
}

footer a:hover {
	color:#ccc;
}

/*
------------------------------------------------
Main Page Text Styles
------------------------------------------------
*/
.largeTxt {
	color:white;
	font-size: 65pt;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
}

.medTxt {
	color:white;
	font-size: 28pt;
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	text-transform: uppercase;
	margin-top:-10px;
	margin-bottom:0;
}

	@media(max-width: 365px) {
		.largeTxt {
			color:white;
			font-size: 40pt;
			max-width:400px;
			margin-left:auto;
			margin-right:auto;
			text-align: center;
			text-transform: uppercase;
		}

		.medTxt {
			color:white;
			font-size: 18pt;
			max-width:400px;
			margin-left:auto;
			margin-right:auto;
			text-align: center;
			text-transform: uppercase;
			margin-top:-10px;
		}
	}

/*
------------------------------------------------
Bands Styles
------------------------------------------------
*/
.frontContent h3 {
	margin: 0;

}

.bands {
	margin-left: 25px;
}

.bands a {
	color:white;
	text-decoration: none;
	font-size: .8em;
}

.bands a:hover {
	color:#4375b3;
}

/*
------------------------------------------------
Horzontal Line Styles
------------------------------------------------
*/
.horizLineFull { 
	background-image:url(images/horizontal_line.jpg);
	background-repeat: repeat-x;
	height: 1px;
	width:1040px;
	margin-top:30px;
	float:left;
}

	
	
	/*
	------------------------------------------------
	Horzontal Line Styles (Max 450px)
	------------------------------------------------
	*/
	@media(max-width: 1050px) {
		.horizLineFull {
			height: 1px;
			width: auto;
			float:left;
		}
	}


/*
------------------------------------------------
Event Listing Styles
------------------------------------------------
*/

.events1 {
	color:white;
	clear:left;
	float:left;
	margin-top: 10px;
	width:25%;
	font-size: 15pt;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.events2 {
	color:white;
	display: block;
	float:left;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	text-transform: uppercase;
	text-align: center;
}

.events3 {
	color:white;
	float:left;
	display: block;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	text-transform: uppercase;
	text-align: center;
}

.events4 {
	color:white;
	float:left;
	display: block;
	width:25%;
	margin-top: 10px;
	font-size: 15pt;
	text-transform: uppercase;
	text-align:right;
}
	
	@media(max-width: 400px) {
		.events1 {
			clear:left;
			float:left;
			width: 100%;
			text-align: center;
			margin-top:40px;
		}

		.events2 {
			clear:left;
			float:left;
			width: 100%;
			text-align: center;
		}

		.events3 {
			clear:left;
			float:left;
			width: 100%;
			text-align: center;
		}

		.events4 {
			clear:left;
			float:left;
			width: 100%;
			text-align: center;
		}
	}


/*
------------------------------------------------
Separation Styles
------------------------------------------------
*/
.separation {
	background-color: #303030;
	height: 30px;
	margin:0;
	padding:0;
	clear: both;
	width: 100%;
}


/*
------------------------------------------------
Coming Soon Styles
------------------------------------------------
*/
.comingSoon {
	color:white;
	float: left;
	font-size: 20pt;
	font-style: italic;
	margin:-500px 0 0 -300px;
	width:350px;
}

	@media(max-width: 1375px) {
		.comingSoon {
			font-size: 20pt;
			font-style: italic;
			width:100%;
			margin:20px 0 0 0;
		}
	}

.frontContent {
	color:white;
	float: left;
	font-size: 20pt;
	font-style: italic;
	margin:-510px 0 0 800px;
	width:350px;
}

	@media(max-width: 1375px) {
		.frontContent {
			font-size: 20pt;
			font-style: italic;
			width:100%;
			margin:20px 0 0 0;
		}
	}


/*
-----------------------------------------------
ID's
-----------------------------------------------
*/
#wrapper {
	max-width:1040px;
	margin-left: auto;
	margin-right: auto;
}
